body {
    background: linear-gradient(45deg, #ffcccc, #cc99ff, #66b3ff);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section {
    max-width: 400px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #08547c;
    text-align: center;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: black;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    box-sizing: border-box;
}

button {
    background-color: #0077b5;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #005783;
}

.logo {
    width: 80px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

figcaption {
    margin-left: 70px;
    margin-top: -50px;
    color: white;
    font-size: 20px;
}
