/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
}
/* Section styles */
section {
    margin-bottom: 20px;
}
h2 {
    margin-bottom: 10px;
}


.message {
    background-color: #f0f0f0;
    border-left: 5px solid #007bff; /* Blue border */
    padding: 10px;
    margin-bottom: 10px;
}


/* Styles for the buttons */
.button-container {
    margin: 20px 0;
    text-align: center;
 }
 
 .add-button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 }
 
 .add-button:hover {
    background-color: #45a049;
 }
 
 /* Styles for the modal */
 .modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }
 
 .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
 }
 
 .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
 }
 
 .close-button:hover,
 .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
 }
 
 /* Styles for the forms */
 .entry-form {
    display: none; /* Hidden by default */
    margin-top: 20px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
 }
 
 .entry-form h3 {
    margin-top: 0;
 }
 
 .entry-form label {
    display: block;
    margin-bottom: 5px;
 }
 
 .entry-form input,
 .entry-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
 }
 
 .entry-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 }
 
 .entry-form button:hover {
    background-color: #45a049;
 }

 
 #passkeySubmit {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 12px;
  }
  
  #passkeySubmit:hover {
    background-color: #45a049; /* Darker Green */
  }

  #passkeyInput {
    padding: 3px;
  }
  