
body {
    background-image: url("/static/imagenes/registro.jpg"); /* Imagen de fondo */
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

input{
    border-radius: 20px;
}

/* Logo */
.logo {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 30px;
    margin-left: 5%;
}

span {
    color: #EE13C4;
}
.line {
    width: 100%;
    height: 1px;
    background-color: #ccc; 
    margin: 10px 0; 
}


.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    margin-top: 8%;
}

.container {
    text-align: center; 
    color: lightgray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    background: linear-gradient(135deg, #3498db, #2980b9);
}

.form-group {
    margin-bottom: 20px;
}

button {
    background-color: blue;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 25px;
    border-radius: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
}

button:hover{background-color: red;}


a{color:rgb(231, 181, 87)}
a:hover{color:red;}

section{align-items: center;
margin-top: 8%;}
.form-group {
    position: relative;
}

p.error {
    color: red;
}


.logo{width: 80px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;}
    
footer{font-size: 20px;
    color: lightgray;
    text-align: center;
padding-top: 100px;}

    h3{font-size: 18px;
    margin-left: -10%;
    margin-top: -1%;
    margin-bottom: 8%;}

    h1{font-size: 25px;
    margin-bottom: 10%;}

    a.creditos{margin-bottom: 5%;
    margin-top: 5%; 
    text-align: center;}

    .custom-google-button {
        background-color: #ffffff; /* Background color */
        border: 1px solid #dcdcdc; /* Border color */
        color: #757575; /* Text color */
        padding: 10px 20px; /* Padding */
        font-size: 16px; /* Font size */
        border-radius: 5px; /* Border radius */
        cursor: pointer; /* Cursor style */
        display: inline-block; /* Display as inline block */
        transition: all 0.3s ease-in-out; /* Transition effect */
    }

    .custom-google-button img {
        vertical-align: middle; /* Align the image vertically */
        margin-right: 10px; /* Add margin to the right of the image */
    }
    
    .custom-google-button:hover {
        background-color:rgb(250, 237, 184);
    }
    


