body {
    background-image: url('/static/imagenes/profesionalesFondo.avif');
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.profile-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profile-card {
    width: 300px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.profile-card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.profile-info {
    padding: 20px;
}

.profile-info h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5rem;
}

.profile-info p {
    margin: 0;
    margin-bottom: 5px;
    font-size: 1rem;
    color: #555;
}
