body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
    color: black; 

#video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
}


form {
    margin-bottom: 20px;
}

p.error {
    color: red;
}

label {
    display: block;
    margin-bottom: 10px;
    margin-top: 50px;
    color: white;
}
/* Style the input field */
input[type="tel"] {
    padding: 10px;
    border: 1px solid #fcf7f7;
    border-radius: 5px;
    font-size: 16px;
    width: 400px;
    box-sizing: border-box; /* Ensure padding and border are included in width */
}



input[type="email"] {
    width: 40%;
    padding: 10px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
   
}

.error {
    color: red;
}

#message.succes {
    color: green !important;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

#message {
    margin-top: 20px;
    padding: 10px;
}
