body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.plans {
    display: flex;
    justify-content: space-between;
}

.plan {
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin: 10px;
}

.plan h2 {
    font-size: 24px;
}

.plan ul {
    list-style: none;
    padding: 0;
}

a.button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.plan button:hover {
    background-color: #0056b3;
}

.aseguradora {
    align-items: center;
   text-align: center;
}
