/* styles.css */

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin: 0;
   padding: 0;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
}

section {
   background: linear-gradient(to right, rgb(166, 19, 235), rgb(248, 39, 144));
   width: 50%;
   font-size: 16px;
   margin-bottom: 25%px;
   align-items: center;
   margin-left: 30px;
  
}

.logo {
   color: #3498db;
   text-transform: uppercase;
   font-size: 30px;
   margin-left: -80%;
}

a {
   color: #c43aa8;
}

span {
   color: #EE13C4;
}

h1 {
   text-align: center;
   font-size: 24px;
   color: #fff;
}

h2 {
   font-size: 16px;
}

label {
   color: #fff;
   font-size: 16px;
}

input {
   padding: 3px;
   border-radius: none;
}

.contacto {
   margin-top: 8%;
   color: #fff;
   padding: 20px;
   margin-left: 35%;
   transition: margin 0.3s ease;
}

.contacto:hover {
   margin-left: 33%;
}

footer {
   font-size: 18px;
   color: lightgray;
   text-align: center;
   margin-top: 10px;
}

button {
   background: linear-gradient(to right, rgb(31, 138, 4), blue);
   margin-top: 20px;
   padding: 5px;
}

p {
   color: aliceblue;
}
