<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/agregar.css') }}">
    <title>Agregar nuevo perfil</title>
</head>
<body>
    <section>
        <h1>Agregar nuevo perfil</h1>
        {% if message %}
            <p style="color: {% if 'correctamente' in message %}green{% else %}red{% endif %}">{{ message }}</p>
        {% endif %}
        <form action="/agregar" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <label for="profile_picture">Subir imagen de perfil:</label>
            {{ form.profile_picture.label }} {{ form.profile_picture }}

            <label for="nombre">Nombre:</label>
            {{ form.nombre.label }} {{ form.nombre }}

            <label for="licencia">No. De Licencia:</label>
            {{ form.licencia.label }} {{ form.licencia }}

            <label for="ubicacion">Ubicacion:</label>
            {{ form.ubicacion.label }} {{ form.ubicacion }}

            <label for="contacto">Informacion de contacto:</label>
            {{ form.contacto.label }} {{ form.contacto }}

            <label for="descripcion">Descripcion:</label>
            {{ form.descripcion.label }} {{ form.descripcion }}

            <button type="submit">Agregar</button>
        </form>
    </section>
</body>
</html>
