<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clinicas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/clinicas.css') }}">
    <link rel="icon" href="/static/imagenes/logo.jpg" type="image/jpg">
</head>
<body>
    <div class="container">
        <h1>Bienvenido a la pagina de los puestos de salud.</h1>
        <button class="btn" id="crearExpedienteBtn">Crear Expediente Digital</button>
        <button class="btn" id="agregarCuentaBtn">Agregar Cuenta</button>
    </div>
</body>
</html>
