
<!DOCTYPE html>
<html>
<head>
    <title>Editar mi perfil</title>
    <!--Vinculacion con fontawesome para los iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Conexion con el archivo CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/perfil_profesional.css') }}">
    <link rel="icon" href="/static/imagenes/logo.jpg" type="image/jpg">
</head>
<body>
<!--Logo-->
    <h1 class="logo">Freud&nbsp;<span>IA</span></h1>
   
    <div class="container">
        <!--Encabezado-->
        <h1>Editar mi perfil</h1>

    <form action="/edit_profile" method="post" enctype="multipart/form-data">
        <label for="foto"> <!--Icono--> <i class="fa-solid fa-image"></i>Foto de perfil:</label>
        <input type="file" id="foto" name="foto"><br><br>

        <label for="nombre"> <!--Icono--> <i class="fa-solid fa-user"></i>Nombre Completo:</label>
        <input type="text" id="nombre" name="nombre"><br><br>

        <label for="ubicacion"> <!--Icono--> <i class="fa-solid fa-location-dot"></i>Ubicación:</label>
        <input type="text" id="ubicacion" name="ubicacion"><br><br>

        <label for="contacto"> <!--Icono--> <i class="fa-solid fa-phone"></i>Contacto:</label>
        <input type="text" id="contacto" name="contacto"><br><br>

        <label for="licencia"> <!--Icono--> <i class="fa-solid fa-id-card"></i>Licencia:</label>
        <input type="text" id="licencia" name="licencia"><br><br>

        <label for="estudios_academicos"> <!--Icono--> <i class="fa-solid fa-graduation-cap"></i>Estudios Académicos:</label><br>
        <textarea id="estudios_academicos" name="estudios_academicos"></textarea><br><br>

        <label for="keywords">Keywords (separados por comas):</label>
        <input type="text" id="keywords" name="keywords"><br><br>

        <label for="descripcion">Descripción:</label><br>
        <textarea id="descripcion" name="descripcion"></textarea><br><br>

        <!--Boton para guardar los cambios-->
        <input type="submit" value="Guardar">
    </form>
</div>
</body>
</html>
