<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/historial.css') }}">
    <link rel="icon" href="/static/imagenes/logo.jpg" type="image/jpg">
</head>
<body>
    <a href="{{ url_for('acceder_expediente') }}">Ver Mi Expediente</a>
    <h1>Historial de mensajes</h1>
    <ul>
        {% for message in messages %}
            <li><strong>Usuario: </strong> {{ message['message'] }}</li>
            <li><strong>Chatbot: </strong> {{ message['response'] }}</li>
        {% endfor %}
    </ul>
</body>
</html>
