<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freud IA</title>
    
    <meta name="viewport" content="width=device-width, user-scalabl=no, initial-scale=1.0">
    <!--Icono de pagina-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <!--Iconos-->
    <script src="https://kit.fontawesome.com/94b64c1e7a.js" crossorigin="anonymous"></script>
    <!--Titulo de pagina-->
</head>
<body>
    <header>
        <div class="container">
            <div class="menu">
                <h1 class="logo">Freud&nbsp;<span>IA</span></h1>
               
                <nav class="navbar">
                    <ul>
                        <li><a href="{{ url_for('profesionales') }}">Profesionales</a></li>
                        <li><a href="{{ url_for('login_account') }}">Ir al Chat</a></li>
                        <li><a href="{{ url_for('verExpediente') }}">Panel del Psicólogo</a></li>
                        <li class="more-options">
                            <a href="#" class="more-options-toggle">Mas Opciones</a>
                            <div class="more-options-menu">
                                <ul>
                                    <li><a href="{{ url_for('notificaciones') }}">Notificaciones</a></li>
                                    <li><a href="#nosotros">Nosotros</a></li>
                                    <li><a class="menu" href="#privacidad" id="privacyLink">Privacidad</a></li>
                                    <li><a href="#" id="support-link">Soporte</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
                <script src="{{ url_for('static', filename='js/menu_index.js') }}"></script>
                
        </div>
            <script src="{{ url_for('static', filename='js/soporte.js') }}"></script>
           

            <div class="header-content">
                <div class="header-txt">
                    <h1>TU <br> AYUDANTE  <br>PERSONAL </h1>
                    <p>
                        La piscologia, a diferecia de la quimica, algebra o literatura, es un manual para tu propia mente. Es una guia para tu vida.
                    </p>
                    <a href="#" class="btn">Leer mas</a>
                </div>

                <div class="header-img">
                    <img src="{{ url_for('static', filename='imagenes/right.svg') }} " alt="No esta">
                </div>

            </div>
        </div>

        <footer class="pie-pagina">
            <div class="grupo-1">
                <div class="box">
                    <figure>
                        <a href="#">
                           <img src="{{ url_for('static', filename='imagenes/01.jpg') }}" alt="Logo Freud AI"> 
                        </a>
                    </figure>
                </div>

                <div class="privacy-overlay" id="privacyOverlay">
                    <!-- Privacy content goes here -->
                    <div class="privacy-content">
                        <h3>Términos de Privacidad</h3>
                           
                        <p class="privacidad"><b>Confidencialidad de la Información: </b> Garantizamos la confidencialidad de toda la información proporcionada en Freud.AI. 
                            Los datos del usuario, las interacciones y la información del expediente están protegidos con medidas de seguridad avanzadas.</p>
                            <p class="privacidad"> <b>Uso de la Información: </b> La información recopilada se utiliza exclusivamente con el propósito de proporcionar servicios psicológicos personalizados. 
                                No compartiremos ni venderemos datos a terceros sin el consentimiento explícito del usuario.
                                </p>
                
                                <p class="privacidad"><b>Seguridad de Datos: </b>Implementamos medidas de seguridad tecnológicas y organizativas para proteger la integridad y confidencialidad de los datos. 
                                    Nuestra plataforma cumple con los estándares de seguridad de la industria.</p>
                
                                    <p class="privacidad"><b>Acceso Limitado: </b>El acceso a la información del expediente está estrictamente limitado a los profesionales autorizados. 
                                        Se utiliza un sistema de autenticación seguro para garantizar que solo los usuarios autorizados puedan acceder a la información confidencial.</p>
                
                                        <p class="privacidad"><b>Consentimiento Informado: </b> Antes de utilizar nuestros servicios, solicitamos el consentimiento informado del usuario.
                                             Esto incluye la comprensión de cómo se utilizará la información y el compromiso de seguir las políticas de privacidad establecidas.</p>
                
                                             <p class="privacidad"><b>Registro y Autenticación: </b> El proceso de registro e inicio de sesión está diseñado 
                                                con altos estándares de seguridad para proteger la identidad del usuario.
                                                 Se recomienda mantener la información de inicio de sesión de manera segura y confidencial.</p>
                
                                                 <p class="privacidad"><b>Retención de Datos: </b> Mantenemos los datos del usuario durante 
                                                    el tiempo necesario para cumplir con los objetivos establecidos.
                                                     Se brinda la opción de eliminar la cuenta y los datos personales en cualquier momento.</p>
                
                                                     <p class="privacidad"><b>Actualizaciones de Privacidad: </b>Nos comprometemos a informar a los usuarios sobre cualquier
                                                         cambio en nuestras políticas de privacidad.
                                                         Las actualizaciones se comunicarán de manera clara y transparente.</p>
                    </div>
                    <span class="close-btn" id="closePrivacy">&times;</span>
                </div>

           
                <script src="{{ url_for('static', filename='js/privacidad.js') }}"></script>
            
            
            

                <div id="nosotros" class="box">
                    <h2>¿Quiénes somos?</h2>
                
                    <p>Somos una plataforma dedicada a proporcionar apoyo psicológico en línea. Nuestro equipo está compuesto por psicólogos certificados y autorizados, cada uno con sus respectivas licencias profesionales. Ofrecemos una amplia gama de servicios, incluido un chatbot interactivo con el que los usuarios pueden interactuar. Este chatbot está diseñado para brindar atención similar a la humana, y también ofrecemos apoyo especializado para personas en riesgo de suicidio.</p>
                <br>
                    <p>En nuestra plataforma, atendemos cualquier tipo de problema psicológico, desde el estrés y la ansiedad hasta trastornos más complejos. Nuestro objetivo es proporcionar un entorno seguro y confidencial donde las personas puedan obtener el apoyo que necesitan para mejorar su bienestar emocional y mental.</p>
                </div>
                


        </footer>

    </header>
</body>
</html>