<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/perfil_profesional.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Mi Perfil</title>
</head>
<body>
 
    <div id="profile-container" id="profile-{{ profesional.id }}">
        <p>Nombre: {{ profesional.nombre }}</p>
        <p>Licencia: {{ profesional.licencia }}</p>
        <p>Direccion: {{ profesional.direccion }}</p>
        <p>Keywords: {{ profesional.keywords }}</p>
        <p>Informacion de contacto: {{ profesional.contacto }}</p>
        <p>Descripcion: {{ profesional.descripcion }}</p>
       
    </div>



    <div class="buttons-container">

        <button id="edit-profile-button" class="profile-button">Editar Perfil</button>
         <button id="delete-profile" data-profile-id="{{ profesional.id }}" class="profile-button">Eliminar Perfil</button>
      
        </div>

    <div class="icons">
         <!-- Notification and Message icons -->
         <a href="#notifications">
            <i class="notification-icon fas fa-bell"></i>
            
        </a>
        <a href="#messages">
            <i class="fa-brands fa-rocketchat message-icon "></i>
           
        </a>
    </div>

    
    <div id="edit-profile-form" style="display: none;">
        <form action="{{ url_for('edit_profile') }}" method="POST">
            <!-- Form fields for editing profile information -->
            <!-- Make sure to include all necessary form fields -->
            <input type="text" id="nombre" name="nombre" required>
            <input type="text" id="direccion" name="direccion">
            <input type="text" id="keywords" name="keywords" required>
            <input type="text" id="contacto" name="contacto" required>
            <textarea id="descripcion" name="descripcion" required></textarea>
            <input type="text" id="ubicacion" name="ubicacion">
            <textarea id="estudios_academicos" name="estudios_academicos"></textarea>
            <input type="text" id="whatsapp" name="whatsapp">

            
            <!-- Add a hidden input field to pass the profile ID -->
            <input type="hidden" id="profile_id" name="profile_id" value="{{ profesional.id }}">
            
            <!-- Submit button to update profile -->
            <button type="submit">Guardar Cambios</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/digitarLicencia.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/eliminarPerfil.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/editarProfesional.js') }}"></script> 


</body>
</html>
