<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psicologos Profesionales en linea</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profesionales.css') }}">
    <link rel="icon" href="/static/imagenes/logo.jpg" type="image/jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="search-container">
            <input type="text" id="searchInput" placeholder="Filtrar por palabras clave...">
        </div>
        <div class="profile-list">
            {% for professional in professionals %}
            <div class="profile-card" data-keywords="{{ professional.keywords }}">
                <img src="{{ url_for('static', filename=professional.profile_picture) }}" alt="Profile Picture">
                <div class="profile-info">
                    <h2>{{ professional.nombre }}</h2>
                    <p>No. De Licencia: {{ professional.licencia }}</p>
                    <p>Direccion: {{ professional.direccion }}</p>
                    <p>Keywords: {{ professional.keywords }}</p>
                    <p>Descripcion: {{ professional.descripcion }}</p>
                </div>

                <p>Informacion de contacto: {{ professional.contacto }}</p>
                <!-- Contacto via WhatsApp-->
            <div class="whatsapp-contact">
                    <a href="https://api.whatsapp.com/send?phone={{ professional.whatsapp_number }}" target="_blank">
                        <i class="fa-brands fa-whatsapp"></i> Contactar vía WhatsApp
                    </a>
                </div>

                
                <!--Mensajes dentro de la misma plataforma-->
                <div class="message-contact">
                    <a class="message" href=" ">
                        <i class="fa-brands fa-rocketchat"></i> Enviar Mensaje
                    </a>
                </div>
                
                
            </div>
            {% endfor %}
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
</body>
</html>
