<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="icon" href="/static/imagenes/logo.jpg" type="image/jpg">
</head>
<body>
    <h1>User Profile</h1>
    <div>
        <p><strong>Name:</strong> {{ user_data.full_name }}</p>
        <p><strong>Username:</strong> {{ user_data.username }}</p>
    </div>
    <div>
        <a href="{{ url_for('update_profile', user_id=user_data.id) }}">Actualizar perfil</a>
    </div>
</body>
</html>
