<!-- In your profile.html file -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h1>Bienvenido a Freud AI, {{ username }}, es un placer tenerte por aca!</h1>


    <form action="/update_profile" method="post" enctype="multipart/form-data">
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="profile_picture">Foto:</label>
        <input type="file" id="profile_picture" name="profile_picture" accept="image/*">

        <input type="submit" value="Guardar cambios">
    </form>


</body>
</html>
