<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planes de suscripcion</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profesionalPlans.css') }}">
    <link rel="icon" href="/static/imagenes/logo.jpg" type="image/jpg">
</head>
<body>
    <div class="plans-container">
        <h1>Planes de Suscripción</h1>
        <div class="plan">
            <div class="plan-header">
                <h2>Básico</h2>
                <p>$10/mes</p>
            </div>
            <ul>
                <li>Acceso a funciones básicas</li>
                <li>1 usuario</li>
                <li>Soporte por email</li>
            </ul>
            <a href="#" class="button">Suscribirse</a>
        </div>
        <div class="plan">
            <div class="plan-header">
                <h2>Medio</h2>
                <p>$20/mes</p>
            </div>
            <ul>
                <li>Acceso a funciones avanzadas</li>
                <li>5 usuarios</li>
                <li>Soporte por chat</li>
            </ul>
            <a href="#" class="button">Suscribirse</a>
        </div>
        <div class="plan">
            <div class="plan-header">
                <h2>Avanzado</h2>
                <p>$30/mes</p>
            </div>
            <ul>
                <li>Acceso a todas las funciones</li>
                <li>Usuarios ilimitados</li>
                <li>Soporte 24/7</li>
            </ul>
            <a href="#" class="button">Suscribirse</a>
        </div>
    </div>
</body>
</html>
