<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psicologos Profesionales en linea</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profesionales.css') }}">
</head>
<body>
    <div class="container">
        <div class="profile-list">
            {% for professional in professionals %}
            <div class="profile-card">
                <img src="{{ professional.profile_picture }}" alt="Profile Picture">
                <div class="profile-info">
                    <h2>{{ professional.nombre }}</h2>
                    <p>{{ professional.licencia }}</p>
                    <p>{{ professional.direccion }}</p>
                    <p>{{ professional.keywords }}</p>
                    <p>{{ professional.contacto }}</p>
                    <p>{{ professional.descripcion }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
