<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Red de Apoyo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/redDeApoyo.css') }}">
</head>
<body>
    <h1>Mi Red de Apoyo</h1>
    <div class="contacts">
        <!-- Loop through the contacts and display them -->
        {% for contact in contacts %}
        <div class="contact">
            <h2>Contacto {{ loop.index }}</h2>
            <p>Contacto 1: {{ contact.contact_one }}</p>
            <p>Contacto 2: {{ contact.contact_two }}</p>
            <p>Correo del psicologo: {{ contact.psychologist_email }}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>
