<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red de apoyo</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/redApoyo.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

<form id="support-form">
    <div>

        <label for="contact-one">Contacto1: <i class="fa-solid fa-handshake-angle"></i></label>
        <input type="text" id="contact-one" name="contact-one" required placeholder="Agrega un numero de telefono (Incluye codigo de pais)">
    </div>
    <div>
        <label for="contact-two">Contacto2: <i class="fa-solid fa-handshake-angle"></i></label>
        <input type="text" id="contact-two" name="contact-two" required placeholder="Agrega un numero de telefono (Incluye el codigo de pais)" >
    </div>
    <div>
        <label for="psychologist-email">Correo del psicologo: <i class="fa-solid fa-user-doctor"></i></label>
        <input type="email" id="psychologist-email" name="psychologist-email" placeholder="Ingresa el correo electronico de tu psicologo" >
        <br>
    <button type="submit">Guardar</button>
     <a href="{{ url_for('profesionales')}}" ><button type="button" id="search-psychologist">Buscar un psicologo</button></a> 
    <button type="button" id="add-contact">Agregar mas contactos</button>
    <a href="{{url_for('notificaciones')}}" ><button type="button" id="add-contact">Configurar notificaciones</button> </a>
</form>
<div id="message"></div>

<script src="{{ url_for('static', filename='js/redApoyo.js') }}"></script>
</body>
</html>
