<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planes de subscripcion</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/subscripcionesUsuario.css') }}">
    <link rel="icon" href="/static/imagenes/logo.jpg" type="image/jpg">
</head>
<body>
    <div class="container">
        <h1>Selecciona el plan que mas se adapte a tus necesidades</h1>
        <div class="plans">
            <div class="plan">
                <h2>Gratis</h2>
                <ul>
                    <li>10 mensajes por día</li>
                    <li>Acceso a psicólogos en línea</li>
                    <li>Generación de expediente</li>
                    <li>Historial de mensajes</li>
                </ul>
                <button>Acceder gratis</button>
            </div>
            <div class="plan">
                <h2>Basico</h2>
                <ul>
                    <li>50 mensajes por día</li>
                    <li>Acceso a psicólogos</li>
                    <li>Recibir notificaciones de frases motivacionales</li>
                    <li>Generación de expediente</li>
                    <li>Historial</li>
                </ul>
                <button>Selecionar</button>
            </div>
            <div class="plan">
                <h2>Pro</h2>
                <ul>
                    <li>Acceso ilimitado de mensajes</li>
                    <li>Acceso a psicólogos</li>
                    <li>Recibir notificaciones de frases motivacionales</li>
                    <li>Generación de expediente</li>
                    <li>Historial</li>
                </ul>
                <button>Seleccionar</button>
            </div>
        </div>
    </div>
   
</body>
</html>
