<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planes de subscripcion</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/subscripcionesUsuario.css') }}">
    <link rel="icon" href="/static/imagenes/logo.jpg" type="image/jpg">
</head>
<body>
    <div class="container">
        <h1>Selecciona el plan que mas se adapte a tus necesidades</h1>
        <div class="plans">
            <div class="plan">
                <h2>Basico</h2>
                <ul>
                    <li>10 mensajes por día</li>
                    <li>Acceso a psicólogos en línea</li>
                    <li>Generación de expediente</li>
                    <li>Historial de mensajes</li>
                </ul>
               <p> <strong>Gratis</strong> </p>

                <a href="{{url_for ('login')}}" class="button">Seleccionar</a>
            </div>
            <div class="plan">
                <h2>premium</h2>
                <ul>
                    <li>50 mensajes por día</li>
                    <li>Acceso a psicólogos en linea</li>
                    <li>Recibir notificaciones de frases motivacionales</li>
                    <li>Generación de expediente</li>
                    <li>Red de apoyo</li>
                    <li>Historial de chat</li>
                </ul>
                <p><strong>$8/mes</strong></p>
                <p><strong>$80/año</strong></p>
                <a class="button">Selecionar</a>
            </div>
            <div class="plan">
                <h2>Pro</h2>
                <ul>
                    <li>Acceso ilimitado de mensajes</li>
                    <li>Acceso a psicólogos en linea</li>
                    <li>Recibir notificaciones de frases motivacionales</li>
                    <li>Generación de expediente</li>
                    <li>Historial de chat</li>
                    <li>Red de apoyo</li>
                </ul>
                <p><strong>$12/mes</strong></p>
                <p><strong>$120/año</strong></p>
                <a class="button">Seleccionar</a>
            </div>
        </div>
    </div>
    <div class="aseguradora">
        <a href="#" id="aseguradora-link">Tienes un contrato con la aseguradora?</a>
        <div id="codigo-input" style="display: none; margin-top: 10px;">
            <input type="text" id="codigo-unico" placeholder="Ingresa tu código único">
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/codigoUnico.js') }}"></script>
</body>
</html>
