<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freud AI</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='expediente.css') }}">

</head>
<body>
    <h1 class="logo">Freud <span>IA</span></h1>
    
    <section>
    <div class="solicitarAcceso">
        
        <h2>Ver y/o solicitar acceso al expediente de su paciente</h2>
    
        <form>
            <label for="nombre">Nombre del paciente:</label>
            <input type="text" name="nombre" id="nombre" placeholder="ej. Freud AI" required><br><br>
            <button>Solicitar acceso</button><br><br>
            <a class="credentials" href="{{ url_for('login_account') }}">[ Acceder con credenciales (email y contraseña) ]</a>
        </form>
    </div>

    <div class="contacto" id="ayuda">
        <h3>Para cualquier duda o información, contáctenos!</h3>
        <i class="fa-solid fa-envelope"></i>
        <a class="gmail" href="mailto:freud.ai@gmail.com">Gmail</a>
        <i class="fa-brands fa-whatsapp"></i>
        <a class="whatsapp" href="https://wa.me/50577966272">WhatsApp</a>
        <i class="fa-brands fa-facebook"></i>
        <a class="facebook" href="freud.ai">Facebook</a>
        <i class="fa-brands fa-instagram"></i>
        <a class="instagram" href="freud.ai">Instagram</a>
    </div>
</section>
    <footer>
        <p>&copy; Freud.AI. Todos los derechos reservados</p>
       
    </footer>
</body>
</html>
