<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel del Psicólogo</title>
    <!--Link de fontawesome.com para los iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
     <!--Conexion con el archivo CSS-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/expediente.css') }}">
    <link rel="icon" href="/static/imagenes/logo.jpg" type="image/jpg">
</head>
<body>

<header>
    <nav>
        <ul>
            <!--Menu superior-->
            <li><a href="{{ url_for('home') }}">Inicio</a></li> <!--Regresar al index-->
            <li><a href="#" id="access-code">Nuevo perfil</a></li>
            <li><a href="#" id="norms-terms">Normativa</a></li> <!--Ver las normas a las que estan sujetos-->
            <li><a href="#" id="access-terms">Términos de Acceso</a></li> <!--Ver los terminos para acceder al expediente-->
            <li><a href="#" id="profile-link">Ver mi Perfil</a></li> <!--Permite ver y editar el perfil-->
            <li><a href="#" id="support-link">Soporte</a></li> <!--Mostrar informacion de contacto-->
        </ul>


        <div id="access-code-input-container" style="display: none;">
            <label for="access-code-input">Ingrese su código de acceso: :</label>
            <input type="text" id="access-code-input" placeholder="Código de acceso">
          <i class="fa-solid fa-arrow-right"></i>
        </div>
    

        <!--Formas para darle acceso a su perfil a traves de su numero de Licencia-->
        <div id="license-input-container" style="display: none;"> <!--Inicialmente no mostrar la forma-->
            <label for="license-input">Digite su licencia:</label>
            <input type="text" id="license-input" name="license-input">
            <a href="{{ url_for('mi_perfil') }} "> <i class="fa-solid fa-magnifying-glass"></i> </a>
        </div>

        <!--Conexiones con JavaScript-->
        <script src="{{ url_for('static', filename='js/soporte.js') }}"></script> <!--Informacion de contacto-->
        <script src="{{ url_for('static', filename='js/acceso.js') }}"></script> <!--Mostrar los terminos de acceso-->
        <script src="{{ url_for('static', filename='js/normas.js') }}"></script> <!--Mostrar la normativa-->
        <script src="{{ url_for('static', filename='js/digitarLicencia.js') }}"></script> <!--Permirtir digitalizar su licencia-->
        <script src="{{ url_for('static', filename='js/codigoAcceso.js') }}"></script>
    </nav>
</header>

<main>
    <section id="user-records">
        <!--Encabezado-->
        <h2>Acceder al expediente de su paciente</h2>
        <!--Input para acceder a un expediente determinado-->
        <form action="#" method="post">
            <label for="username">Nombre de Usuario:</label>
            <input type="text" id="username" name="username" placeholder="ingrese el nombre de usuario sin @"required>
            <input type="submit" value="Acceder">
        </form>
        <!--Link para acceder con las credenciales del usuario-->
        <p><a href="{{ url_for('login') }}">Acceder con credenciales (email y contraseña)</a></p>

     
    </section>
   
</main>

  


</body>
</html>